{% assign username = page.username %}
{% assign person = site.data.centos.people | where: "username", username %}

{% for item in person %}
<div class="container mt-5 mb-3 text-center">

  <div class="row">
    <div class="col">
      {% if item.about.section.icon %}<div class="display-6">{{ item.about.section.icon }}</div>{% endif %}
      {% if item.about.section.name %}<div class="display-6">{{ item.about.section.name }}</div>{% endif %}
      {% if item.about.section.preamble %}<p>{{ item.about.section.preamble }}</p>{% endif %}
    </div>
  </div>

  {% if item.about.content.size > 0 %}
  <div class="row">
    <div class="col">
      {% for p in item.about.content %}
      <p>{{ p }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
{% endfor %}

