{% assign username = page.username %}
{% assign entries = site.posts | where: "username", username %}
{% assign person = site.data.centos.people | where: "username", username %}

{% if entries.size > 0 %}
{% for item in person %}
<div class="container">

  <div class="row text-center">
    <div class="col">
      {% if item.posts.section.icon %}<div class="display-6">{{ item.posts.section.icon }}</div>{% endif %}
      {% if item.posts.section.name %}<div class="display-6">{{ item.posts.section.name }}</div>{% endif %}
      {% if item.posts.section.preamble %}<p>{{ item.posts.section.preamble }}</p>{% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="list-group shadow mb-3">
        {% for i in entries limit:5 %}
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <a href="{{ i.link }}" class="list-group-item list-group-item-action">
          <div class="d-flex gap-2w-100 justify-content-between">
            <h5 class="mb-1 text-primary">{{ i.title }}</h5>
            <small class="text-muted">{{ i.date | date: date_format }}</small>
          </div>
          <p class="mb-1">{{ i.excerpt | strip_html | slice: 0,150 }}...</p>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endfor %}
{% endif %}
