{% assign username = page.username %}
{% assign person = site.data.centos.people | where: "username", username %}

{% for item in person %}
{% if item.projects.content.size > 0 %}
<div class="container my-5 text-center">

  <div class="row">
    <div class="col">
      {% if item.projects.section.icon %}<div class="display-6">{{ item.projects.section.icon }}</div>{% endif %}
      {% if item.projects.section.name %}<div class="display-6">{{ item.projects.section.name }}</div>{% endif %}
      {% if item.projects.section.preamble %}<p>{{ item.projects.section.preamble }}</p>{% endif %}
    </div>
  </div>
  <div class="row">
    {% for project in item.projects.content %}
    <div class="col-sm-6 {% cycle 'border-end', '' %}">
      <h3 class="display-6 fw-bold"><a href="{{ project.name }}">{{ project.name }}</a></h3>
      <p class="lead">{{ project.description }}</p>
    </div>
    {% endfor%}
  </div>
</div>

{% endif %}
{% endfor%}
