{% assign username = page.username %}
{% assign person = site.data.centos.people | where: "username", username %}

{% for item in person %}
<div class="container mt-5 mb-3 text-center">

  <div class="row">
    <div class="col">
      {% if item.pubkeys.section.icon %}<div class="display-6">{{ item.pubkeys.section.icon }}</div>{% endif %}
      {% if item.pubkeys.section.name %}<div class="display-6">{{ item.pubkeys.section.name }}</div>{% endif %}
      {% if item.pubkeys.section.preamble %}<p>{{ item.pubkeys.section.preamble }}</p>{% endif %}
    </div>
  </div>

  <div class="row">
    {% for pubkey in item.pubkeys.content %}
    <div class="col-sm-6 px-5 mb-3">
      <h3 class="display-6 fw-bold">{{ pubkey.name }}</h3>

      <div class="input-group mb-3">
        <input id="{{ pubkey.name }}-key-{{ forloop.index }}" value="{{ pubkey.content }}" type="text" class="form-control" placeholder="User's key" aria-label="User's key" aria-describedby="{{ pubkey.name }}-button-{{ forloop.index }}" readonly />
        <button id="{{ pubkey.name }}-button-{{ forloop.index }}" class="btn btn-clipboard btn-outline-primary" type="button" data-clipboard-target="#{{ pubkey.name }}-key-{{ forloop.index }}" data-bs-toggle="tooltip" data-bs-title="Copy to clipboard"><i class="fa-solid fa-clipboard"></i></button>
      </div>

    </div>
    {% endfor %}
  </div>

</div>
{% endfor%}
