{% assign username = page.username %}
{% assign person = site.data.centos.people | where: "username", username %}

{% for item in person %}
<div class="container mt-5 mb-3 text-center">

  <div class="row">
    <div class="col">
      {% if item.support.section.icon %}<div class="display-6">{{ item.support.section.icon }}</div>{% endif %}
      {% if item.support.section.name %}<div class="display-6">{{ item.support.section.name }}</div>{% endif %}
      {% if item.support.section.preamble %}<p>{{ item.support.section.preamble }}</p>{% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{ item.support.content }}
    </div>
  </div>

</div>
{% endfor %}
