<div class="container py-5 text-center">

  <div class="row">
    <div class="col">
      <div class="display-5">Linux distributions</div>
      <p>We offer two Linux variants:</p>
    </div>
  </div>

  <div class="row">
    {% for item in site.data.centos.distributions limit:2 %}
    <div class="col-sm-6 px-5 mb-3{% if forloop.first %} border-end{% endif %}">
      <img role="img" src="{{ site.baseurl }}/{{ site.data.centos.identity.symbol.image }}" height="64" alt="{{ site.title }}">
      <h3 class="display-6 fw-bold"><a href="{{ item.page }}">{{ item.name }}</a></h3>
      <p class="lead">{{ item.description }}</p>
    </div>
    {% endfor%}
  </div>

  <div class="row">
    <div class="col">
      <p><a href="cl-vs-cs">What's the difference?</a></p>
    </div>
  </div>

</div>
