<div class="bg-dark py-5" style="background: url({{ site.baseurl }}/assets/img/centos-motif.png) right center / cover;">
  <div class="container py-5 text-white text-center">
    <div class="row">
      <div class="col">
        <h1 class="display-1 fw-bold">{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
      </div>
    </div>
  </div>
</div>
