{% assign entries = site.data.centos.planet %}

<div class="container text-center mt-5 mb-5">
  <div class="row">
    <div class="col">
    <div class="display-6"><i class="fa-solid fa-globe"></i></div>
    <div class="display-6">Blob posts</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="list-group shadow mb-3">
        {% for i in entries limit:5 %}
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <a href="{{ i.link }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <i class="text-primary mt-2 fa-solid fa-globe"></i>
        <div class="d-flex gap-2 w-100 justify-content-between">
        <div class="text-start">
          <h5 class="text-primary">{{ i.title }}</h5>
          <p class="opacity-75">{{ i.summary | strip_html | slice: 0,150 }}...</p>
        </div>
        <small class="opacity-50 text-nowrap">{{ i.published | date: date_format }}</small>
        </div>
        </a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
