//
// CentOS Branding
//
$centos-color-1: #a14f8c;
$centos-color-2: #262577;
$centos-color-3: #9ccd2a;
$centos-color-4: #efa724;
//
// Bootstrap v5 customization variables
//
$enable-rounded:              true;
$enable-negative-margins:     true;
$nav-pills-link-active-bg:    $centos-color-1;
$link-color:                  $centos-color-1;
$link-decoration:             none;
$primary:                     $centos-color-1;
$secondary:                   $centos-color-4;
$dark:                        #200735;
$dropdown-dark-bg:            $dark;
$gradient:                    linear-gradient(rgba(239,167,36,0.3), rgba(161,79,140,0.3) 30%, rgba(255,255,255,1));
$font-family-sans-serif:      Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       overpass-mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$headings-font-weight:        700;
$line-height-base:            1.75;
$headings-line-height:        2;
