/*!
 * Mailing lists customization (https://gitlab.com/areguera/jekyll-theme-centos/)
 * Copyright 2020-2021 Alain Reguera Delgado
 * Licensed under MIT (https://gitlab.com/areguera/jekyll-theme-centos/-/blob/master/LICENSE)
 */

.aside, .page {
  &__content {
    &__mailman {
      &__nav {
        ul {
          font-size: small;
          list-style: none;
          padding-left: 0;
        }
      }
      &__article {
        pre {
          border: none;
          border-bottom: 1px solid #ccc;
          border-top: 1px solid #ccc;
          max-height: none;
          padding: 0;
          padding-top: 1rem;
          padding-bottom: 1rem;
          overflow: hidden;
          white-space: pre-wrap;
          background: $white;
        }
      }
    }
  }
}

.page {
  &__content {
    &__mailman {
      &__admlogin {
        &> address:nth-child(4) > table:nth-child(8) > tbody:nth-child(1) > tr:nth-child(1) > td {
          background-color: $white;
          border: none;
          padding: 0;
          vertical-align: middle;
        }
        &> address:nth-child(4) > table:nth-child(8) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) {
          text-align: center;
        }
        &> address:nth-child(4) > table:nth-child(8) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) {
          text-align: right;
        }
      }
      &__welcome {
        &> table:nth-child(1) > tbody > tr:nth-child(1) > td,
        &> form > table > tbody > tr > td > center > table > tbody > tr > td,
        &> form > table > tbody > tr > td {
          background-color: white;
          border: none;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(4) > td {
          border: none;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > font:nth-child(1) {
          display: none;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td > p {
          line-height: $line-height-base;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1),
        &> address:nth-child(5) > p:nth-child(7) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td,
        &> address > table > tbody > tr > td,
        &> table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td {
          background-color: $white;
          border: none;
          padding: 0;
          vertical-align: middle;
          text-align: left;
        }
        &> address > table > tbody > tr > td:nth-child(2),
        &> table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) {
          text-align: center;
        }
        &> address > table > tbody > tr > td:nth-child(3),
        &> table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) {
          text-align: right;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) {
          padding: 0;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > strong:nth-child(1) > font:nth-child(1),
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(2) > strong:nth-child(1) > font:nth-child(1) {
          font-size: 1rem;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > font:nth-child(1) {
          @extend .h3;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td {
          border: none;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(3),
        &> hr:nth-child(2) {
          display: none;
        }
        &> table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(4) {
          @extend .text-white, .bg-dark;
        }
      }
      &__listinfo {
        &> address:nth-child(8) > table:nth-child(8) > tbody:nth-child(1) > tr:nth-child(1) > td {
          background-color: $white;
          border: none;
          padding: 0;
          vertical-align: middle;
          text-align: left;
        }
        &> address:nth-child(8) > table:nth-child(8) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
          text-align: left;
        }
        &> address:nth-child(8) > table:nth-child(8) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) {
          text-align: center;
        }
        &> address:nth-child(8) > table:nth-child(8) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) {
          text-align: right;
        }
      }
      &__options {
        &> address > table > tbody > tr > td {
          background-color: $white;
          border: none;
          padding: 0;
        }
        &> address > table > tbody > tr > td:nth-child(1) {
          text-align: left;
        }
        &> address > table > tbody > tr > td:nth-child(2) {
          text-align: center;
        }
        &> address > table > tbody > tr > td:nth-child(3) {
          text-align: right;
        }
      }
      &__subscribe {
        &> address > table > tbody > tr > td {
          background-color: $white;
          border: none;
          padding: 0;
        }
        &> address > table > tbody > tr > td:nth-child(1) {
          text-align: left;
        }
        &> address > table > tbody > tr > td:nth-child(2) {
          text-align: center;
        }
        &> address > table > tbody > tr > td:nth-child(3) {
          text-align: right;
        }
      }
      &__welcome, &__listinfo, &__archtoc, &__archtocnombox, &__article, &__emptyarchive, &__options, &__roster, &__subscribe, &__private, &__admlogin {
      }
    }
  }
}
