/*!
 * Blog customization (https://gitlab.com/areguera/jekyll-theme-centos/)
 * Copyright 2020-2021 Alain Reguera Delgado
 * Licensed under MIT (https://gitlab.com/areguera/jekyll-theme-centos/-/blob/master/LICENSE)
 */

.aside {
  &__content {
    .entry {
      border-bottom: 1px solid $body-bg;
      margin-bottom: 1.5rem;
    }
    .comment-list {
      padding-left: 0;
    }
    .comment-list li {
      list-style: none;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .avatar {
      border-radius: $border-radius;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .comment-body {
      border-radius: $border-radius;
      background: #f8f8f8;
      padding: 1rem;
    }
    .comment-form-author textarea, input[type="text"],
    .comment-form-comment textarea {
      width: 100%;
    }
  }

  &__nav {
    .searchform input[type="text"] {
      width: 80%;
      margin-bottom: 2rem;
    }
    .widget ul {
      padding-left: 0;
    }
  }
}
