/*!
 * Httpd customization (https://gitlab.com/areguera/jekyll-theme-centos/)
 * Copyright 2020-2021 Alain Reguera Delgado
 * Licensed under MIT (https://gitlab.com/areguera/jekyll-theme-centos/-/blob/master/LICENSE)
 */

.page {
  &__content {
    &__autoindex {
      // The autoindex is not directly used by website content but by external
      // sites (e.g., mirror.centos.org, people.centos.org and all the
      // user-specific pages under it.
      &__list {
      }
      img {
        width: auto;
      }
      pre {
        background: none;
        border: none;
        max-height:  none;
        overflow-y: hidden;
        padding: 0;
      }
    }
  }
}
