<tr>
  <td><a href="{{ row['iso'] }}"> {{ row['arch'] }}</a></td>
  <td>{% if row["rpm"] != "" %}<a href="{{ row['rpm'] }}"> RPMs</a>{% else %}RPMs{% endif %}</td>
  <td>{% if row["cloud"] != "" %}<a href="{{ row['cloud'] }}">Cloud</a>{% else %}Cloud{% endif %}
    | {% if row["containers"] != "" %}<a href="{{ row['containers'] }}">Containers</a>{% else %}Containers{% endif %}
    | {% if row["vagrant"] != "" %}<a href="{{ row['vagrant'] }}">Vagrant</a>{% else %}Vagrant{% endif %}</td>
</tr>
