<tr>
  <td>{% if row["release_notes"] != "" %}<a href="{{ row['release_notes'] }}">Release Notes</a>{% else %}Release Notes{% endif %}
    | {% if row["release_email"] != "" %}<a href="{{ row['release_email'] }}">Release Email</a>{% else %}Release Email{% endif %}
    | {% if row["website"] != "" %}<a href="{{ row['website'] }}">Website</a>{% else %}Website{% endif %}</td>
</tr>

