<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include head.html -%}

  <body>

    {% include navbar.html -%}

    <main class="bg-light">

      <div class="bg-dark" style="background: url({{ site.baseurl }}/assets/img/centos-motif.png) right center / cover;">
        <div class="container py-5 text-light">
          <div class="row mb-5">
          <div class="col">
            {% include header.html -%}
          </div>
          </div>
        </div>
      </div>

      <div class="container shadow-lg bg-body p-5 mt-n5 rounded">
        <div class="row">
          <div class="col-sm-8">{% include breadcrumbs.html %}</div>
          <div class="col-sm-4 text-end">{% include editbar.html %}</div>
        </div>
        <div class="row">
          <div class="col">{% include toc-accordion.html %}</div>
        </div>
        <div class="row">
          <div class="col mt-3">{{ content }}</div>
        </div>
      </div>

    </main>

    {% include footer.html -%}

    <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
