<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include head.html -%}

  <body>

    {% include navbar.html -%}

    <main class="bg-light">

      {% include people/header.html %}
      {% include people/about.html %}
      {% include people/projects.html %}
      {% include people/posts.html %}
      {% include people/pubkeys.html %}
      {% include people/support.html %}

      {% include footer.html -%}

      <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/clipboard.min.js"></script>
      <script>
      // Initialize ClipboardJS
      $('.btn-clipboard').on('click', function() {
        let button = $(this);
        var copy_id = $(this).attr('id');
        var clipboard = new ClipboardJS( '#' + copy_id );

        clipboard.on('success', function() {
          const currentLabel = button.html();
          const tooltip = bootstrap.Tooltip.getInstance('#' + copy_id);
          const tooltipLabel = button.attr('data-bs-title');

          // Exit label update when already in progress
          if(button.html() === '<i class="fa-solid fa-clipboard-check"></i>'){
              return;
          }

          // Update button label and tooltip
          button.html('<i class="fa-solid fa-clipboard-check"></i>');
          tooltip.setContent({ '.tooltip-inner': 'Copied!' })

          // Revert button label after 2 seconds
          setTimeout(function(){
            button.html(currentLabel);
            tooltip.setContent({ '.tooltip-inner': tooltipLabel })
          }, 2000)
        });
      });

      // Initialize Tooltips
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      </script>
  </body>

</html>
