---
layout: default
---

<main class="post">

  <article class="post__content">

    <nav class="post__content__nav">
      {% include breadcrumbs.html %}
      {% include toc.html html=content %}
    </nav>

    {% if page.image %}
    <figure><img class="figure-img img-fluid" src="{{ page.image }}" alt="{{ page.title | escape }}"></figure>
    {% endif %}

    {{ content }}

    <nav class="post__content__nav">
      {% include post-nav-explorer.html %}
    </nav>
  </article>

  <aside class="post__nav">
    {% include post-nav.html %}
  </aside>

</main>
