---
 layout: default
---

<main class="sponsors">

  <div class="sponsors__content">

    <div class="sponsors__content__nav">
      {% include breadcrumbs.html %}
      {% include toc.html html=content %}
    </div>

    {{ content }}

    <div class="sponsors__content__card">
    {% for sponsor in site.sponsors %}
    <div class="sponsors__content__card__item">
      <a href="{{ sponsor.address }}">
      <img class="sponsors__content__card__item__image" src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
      <div class="sponsors__content__card__item__body">
        <p class="sponsors__content__card__item__body_title">{{ sponsor.name }}</p>
        <p class="sponsors__content__card__item__body_description">{{ sponsor.description }}</p>
      </div>
      </a>
    </div>
    {% endfor %}
  </div>

</main>
