/** Montserrat Thin **/
@font-face {
	font-family: "Montserrat";
	font-weight: 100;
	font-style: normal;
	src: url("../webfonts/Montserrat-Thin.woff2") format("woff2"), url("../webfonts/Montserrat-Thin.woff") format("woff");
}
/** Montserrat Thin-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 100;
	font-style: italic;
	src: url("../webfonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../webfonts/Montserrat-ThinItalic.woff") format("woff");
}
/** Montserrat ExtraLight **/
@font-face {
	font-family: "Montserrat";
	font-weight: 200;
	font-style: normal;
	src: url("../webfonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../webfonts/Montserrat-ExtraLight.woff") format("woff");
}
/** Montserrat ExtraLight-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 200;
	font-style: italic;
	src: url("../webfonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../webfonts/Montserrat-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Light **/
@font-face {
	font-family: "Montserrat";
	font-weight: 300;
	font-style: normal;
	src: url("../webfonts/Montserrat-Light.woff2") format("woff2"), url("../webfonts/Montserrat-Light.woff") format("woff");
}
/** Montserrat Light-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 300;
	font-style: italic;
	src: url("../webfonts/Montserrat-LightItalic.woff2") format("woff2"), url("../webfonts/Montserrat-LightItalic.woff") format("woff");
}
/** Montserrat Regular **/
@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	src: url("../webfonts/Montserrat-Regular.woff2") format("woff2"), url("../webfonts/Montserrat-Regular.woff") format("woff");
}
/** Montserrat Regular-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: italic;
	src: url("../webfonts/Montserrat-Italic.woff2") format("woff2"), url("../webfonts/Montserrat-Italic.woff") format("woff");
}
/** Montserrat Medium **/
@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
	src: url("../webfonts/Montserrat-Medium.woff2") format("woff2"), url("../webfonts/Montserrat-Medium.woff") format("woff");
}
/** Montserrat Medium-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	font-style: italic;
	src: url("../webfonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../webfonts/Montserrat-MediumItalic.woff") format("woff");
}
/** Montserrat SemiBold **/
@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	font-style: normal;
	src: url("../webfonts/Montserrat-SemiBold.woff2") format("woff2"), url("../webfonts/Montserrat-SemiBold.woff") format("woff");
}
/** Montserrat SemiBold-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	font-style: italic;
	src: url("../webfonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../webfonts/Montserrat-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Bold **/
@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
	src: url("../webfonts/Montserrat-Bold.woff2") format("woff2"), url("../webfonts/Montserrat-Bold.woff") format("woff");
}
/** Montserrat Bold-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	font-style: italic;
	src: url("../webfonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../webfonts/Montserrat-BoldItalic.woff") format("woff");
}
/** Montserrat ExtraBold **/
@font-face {
	font-family: "Montserrat";
	font-weight: 800;
	font-style: normal;
	src: url("../webfonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../webfonts/Montserrat-ExtraBold.woff") format("woff");
}
/** Montserrat ExtraBold-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 800;
	font-style: italic;
	src: url("../webfonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../webfonts/Montserrat-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Black **/
@font-face {
	font-family: "Montserrat";
	font-weight: 900;
	font-style: normal;
	src: url("../webfonts/Montserrat-Black.woff2") format("woff2"), url("../webfonts/Montserrat-Black.woff") format("woff");
}
/** Montserrat Black-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 900;
	font-style: italic;
	src: url("../webfonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../webfonts/Montserrat-BlackItalic.woff") format("woff");
}
/** =================== MONTSERRAT ALTERNATES =================== **/
/** Montserrat Alternates Thin **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 100;
	font-style: normal;
	src: url("../webfonts/MontserratAlternates-Thin.woff2") format("woff2"), url("../webfonts/MontserratAlternates-Thin.woff") format("woff");
}
/** Montserrat Alternates Thin-Italic **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 100;
	font-style: italic;
	src: url("../webfonts/MontserratAlternates-ThinItalic.woff2") format("woff2"), url("../webfonts/MontserratAlternates-ThinItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraLight **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 200;
	font-style: normal;
	src: url("../webfonts/MontserratAlternates-ExtraLight.woff2") format("woff2"), url("../webfonts/MontserratAlternates-ExtraLight.woff") format("woff");
}
/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 200;
	font-style: italic;
	src: url("../webfonts/MontserratAlternates-ExtraLightItalic.woff2") format("woff2"), url("../webfonts/MontserratAlternates-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Alternates Light **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 300;
	font-style: normal;
	src: url("../webfonts/MontserratAlternates-Light.woff2") format("woff2"), url("../webfonts/MontserratAlternates-Light.woff") format("woff");
}
/** Montserrat Alternates Light-Italic **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 300;
	font-style: italic;
	src: url("../webfonts/MontserratAlternates-LightItalic.woff2") format("woff2"), url("../webfonts/MontserratAlternates-LightItalic.woff") format("woff");
}
/** Montserrat Alternates Regular **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 400;
	font-style: normal;
	src: url("../webfonts/MontserratAlternates-Regular.woff2") format("woff2"), url("../webfonts/MontserratAlternates-Regular.woff") format("woff");
}
/** Montserrat Alternates Regular-Italic **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 400;
	font-style: italic;
	src: url("../webfonts/MontserratAlternates-Italic.woff2") format("woff2"), url("../webfonts/MontserratAlternates-Italic.woff") format("woff");
}
/** Montserrat Alternates Medium **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 500;
	font-style: normal;
	src: url("../webfonts/MontserratAlternates-Medium.woff2") format("woff2"), url("../webfonts/MontserratAlternates-Medium.woff") format("woff");
}
/** Montserrat Alternates Medium-Italic **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 500;
	font-style: italic;
	src: url("../webfonts/MontserratAlternates-MediumItalic.woff2") format("woff2"), url("../webfonts/MontserratAlternates-MediumItalic.woff") format("woff");
}
/** Montserrat Alternates SemiBold **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 600;
	font-style: normal;
	src: url("../webfonts/MontserratAlternates-SemiBold.woff2") format("woff2"), url("../webfonts/MontserratAlternates-SemiBold.woff") format("woff");
}
/** Montserrat Alternates SemiBold-Italic **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 600;
	font-style: italic;
	src: url("../webfonts/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"), url("../webfonts/MontserratAlternates-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Bold **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 700;
	font-style: normal;
	src: url("../webfonts/MontserratAlternates-Bold.woff2") format("woff2"), url("../webfonts/MontserratAlternates-Bold.woff") format("woff");
}
/** Montserrat Alternates Bold-Italic **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 700;
	font-style: italic;
	src: url("../webfonts/MontserratAlternates-BoldItalic.woff2") format("woff2"), url("../webfonts/MontserratAlternates-BoldItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraBold **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 800;
	font-style: normal;
	src: url("../webfonts/MontserratAlternates-ExtraBold.woff2") format("woff2"), url("../webfonts/MontserratAlternates-ExtraBold.woff") format("woff");
}
/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 800;
	font-style: italic;
	src: url("../webfonts/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"), url("../webfonts/MontserratAlternates-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Black **/
@font-face {
	font-family: "Montserrat Alternates";
	font-weight: 900;
	font-style: normal;
	src: url("../webfonts/MontserratAlternates-Black.woff2") format("woff2"), url("../webfonts/MontserratAlternates-Black.woff") format("woff");
}
/** Montserrat Alternates Black-Italic **/
@font-face {
	font-family: "Montserrat";
	font-weight: 900;
	font-style: italic;
	src: url("../webfonts/MontserratAlternates-BlackItalic.woff2") format("woff2"), url("../webfonts/MontserratAlternates-BlackItalic.woff") format("woff");
}
