@font-face {
  font-family: 'overpass-mono';
  src: url('../webfonts/OverpassMono-Light.eot');
  src: url('../webfonts/OverpassMono-Light.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OverpassMono-Light.woff2') format('woff2'),
       url('../webfonts/OverpassMono-Light.woff') format('woff'),
       url('../webfonts/OverpassMono-Light.ttf')  format('truetype');
       font-weight: 300;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-mono';
  src: url('../webfonts/OverpassMono-Regular.eot');
  src: url('../webfonts/OverpassMono-Regular.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OverpassMono-Regular.woff2') format('woff2'),
       url('../webfonts/OverpassMono-Regular.woff') format('woff'),
       url('../webfonts/OverpassMono-Regular.ttf')  format('truetype');
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-mono';
  src: url('../webfonts/OverpassMono-SemiBuild.eot');
  src: url('../webfonts/OverpassMono-SemiBuild.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OverpassMono-SemiBuild.woff2') format('woff2'),
       url('../webfonts/OverpassMono-SemiBuild.woff') format('woff'),
       url('../webfonts/OverpassMono-SemiBuild.ttf')  format('truetype');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-mono';
  src: url('../webfonts/OverpassMono-Bold.eot');
  src: url('../webfonts/OverpassMono-Bold.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OverpassMono-Bold.woff2') format('woff2'),
       url('../webfonts/OverpassMono-Bold.woff') format('woff'),
       url('../webfonts/OverpassMono-Bold.ttf')  format('truetype');
       font-weight: 600;
       font-style: normal;
}
